.news {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    display: flex;
    flex-direction: grid;
    justify-content: space-around;
    background: white;
    /* align-items: center; */
    min-width: 40%;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.details {
    display: flex;
    flex-direction: grid;
    
}
.image {
    margin: 20px;
    border-radius: 20px;
}

a {
    text-decoration: underline;
    color: black;
}