.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  width: 50%;
  border: none;
  padding: 15px;
}
.searchButton {
  background: lightcoral;
  border: none;
  padding: 15px;
  color: white;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
