.App {
  min-height: 100vh;
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  width: 50%;
  border-top-left-radius: 20px;
  padding: 15px;
}

.searchButton {
  border-bottom-right-radius: 20px;
  background: purple;
  padding: 15px;
  color: white;
}
.news {
  display: block;
  justify-content: space-around;
}